/* Header blanco */
#header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 11px;
    background: transparent;
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    position: relative;
    top: 0;
    
}
#header .menu-top .whitecontainer {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .menu-top {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
    background-color: #fff;
    min-height: 67px;
    color: #153166;
}

#header .whitecontainer .pais {
    margin-right: auto;
    text-align: left;
    font-size: 11px;
}

#header .whitecontainer > div:last-child {
    margin-left: auto;
    font-size: 11px;
    height: 30px;
}

#header .top_items {
    color: #153166;
    display: inline-block;
    line-height: 2.5;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#header #top .top_items {
    display: flex;
    flex-direction: row;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #153166;
}

#header #top {
    justify-content: flex-end;
}

 #header .pais:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: center no-repeat;
    background-size: contain;
    background-image: url(https://skin.gen-order.com/frontend/ecloud/genomma/images/location_icon.svg);
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 3px;
    color: #153166;
} 
#top .top_items div.loginBtn a:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: center no-repeat;
    background-size: contain;
    background-image: url(https://skin.gen-order.com/frontend/ecloud/genomma/images/user_icon.svg);
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 3px;
    color: #153166;
}

#top .top_items div:after {
    content: '|';
    position: relative;
    left:13px;
    font-size: 14px;
    color: rgba(20, 49, 102, 0.44);
}

#top .top_items div:last-child:after {
    content: '';
}

.menu-bottom {
    display: flex;
    width: 100%;
    background-color: #153166 !important;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

/* Header azul */

#header .logo-container {
    display: flex;
    width: 100%;
    background-color: #153166 !important;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 117px;
}

#header .logo-container .contenedor {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    align-items: stretch;
}

#header .logo-container .contenedor #headerBarsMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 10;
    position: relative;
}

#header .logo-container .contenedor .logo {
    align-self: center;
}

#header .logo-container .logo img {
    text-align: center;
    margin: 0 auto;
}

#header .logo-container .contenedor .block.middle {
    margin-bottom: 0;
    flex: 1 0 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.search-body {
    background-color: #153166;
    padding: 26px 0;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#header .menu-top .whitecontainer #top a {
    color: #153166 !important;
    display: inline-block;     
}

#header .menu-top .whitecontainer #top .top_items div {
    padding: 0 14px;
}

.block.middle .input-group{
    display: flex;
    flex-wrap: nowrap;
}

.labelsup {
    font-size: 12px;
}

.header-search {
    position: relative;
    width: 100%;
}

.input-search {
    font-weight: 300;
    width: 100%;
    height: 42px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: none !important;
    background-color: #ffffff;
    outline: none;
    color: #565656;
    font-family: "Open Sans", sans-serif;
    padding: 1em;
    font-size: 13px;
}

.img-search {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 32%;
    right: 3.5%;
}

.logo-container .contenedor .right {
      display: flex;
      align-items: center;
} 

.links {
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 0px;
}

.links li {
    position: relative;
    padding: 0 15px;
}

.links li a {
      color: #FFF;
      text-decoration: none;
}

.tienda-link::before {
    display: block;
    position: absolute;
    background: #68c462;
    content: attr(data-title);
    top: -20px;
    font-weight: 600;
    font-size: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    padding: 5px 18px 3px;
    line-height: 1;
    letter-spacing: 0.1em;
}

.tienda-link::after {
    display: block;
    position: absolute;
    background: transparent;
    content: '';
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: #68c462 transparent transparent transparent;
    z-index: 2;
}

.iniciar-negocio-link {
    padding: 6px 12px;
    box-shadow: 0 0 0px 2px rgb(255 255 255 / 50%);
    text-shadow: 0 0 10px #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.iniciar-negocio-link:hover {
    background: rgba(255, 255, 255, 0.1);
}
  
.carrito {
    display: flex;
    align-items: center;
    background: #1c3d7c;
    height: 100%;
    padding: 0 25px;
}

.carrito-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito .count {
    text-align: center;
    background: #feab5b;
    font-size: 11px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    line-height: 16px;
    margin-bottom: 2px;
}

.carrito:hover{
    opacity: 0.8;
}

/* Burguer Menu */
#header .logo-container .contenedor #headerBarsMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  order: 10;
  position: relative;
}

.skip-nav {
    width: 40%;
    padding: 4px 0;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    width: 50px !important;
    height: 60px !important;
    z-index: 9;
}

.skip-link .bar {
    width: 23px;
    height: 2px;
    background-color: #fff;
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    transform-origin: 0% 0%;
    transition: all, 300ms;
}

.skip-link .bar:nth-of-type(2) {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#header-nav {
    background: #fff;
    width: 100%;
    position: absolute;
    right: 0;
    width: 260px !important;
    z-index: 1;
    top: 88px;
}

.nav-primary.container {
    width: 100% !important;
    padding: 25px;
    z-index:10;
}

.nav-primary {
    margin: 0 auto;
    float: none;
    text-align: left;
    display: block;
    align-items: center;
    z-index:12;
}

.nav-primary li.level0 {
    padding: 0;
    transition: border 0.4s linear;
    align-items: center;
    width: auto;
    list-style: none;
}

.nav-primary a {
    text-decoration: none !important;
    position: relative;
    display: block;
    color: #004395;
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 8px 0;
    border: none;
}

.nav-primary a.has-children:after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 5px;
}

.nav-primary li.level0 ul {
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    z-index: 10;
    min-width: 260px;
    padding: 20px 30px;
    box-shadow: 1.4px 1.4px 2.9px 0.1px rgb(0 0 0 / 5%);
    text-align: left;
    display: none;
}

.nav-primary a.level0:hover {
    color: #000;
    text-decoration: none;
}

.nav-primary h4 {
    font-size: 14px;
    letter-spacing: 0;
    color: #004395;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    line-height: 1;
    text-align: left;
}

.dropdown .shopbtn{
    text-decoration: none !important;
}

.dropdown-content{
    display: none;
}

.shopbtn:hover .dropdown-content {
    display: block;
}

#headerBarsMenu i {
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.fa-bars:hover {
    opacity: 0.8;
  }

  /* Logo whatsapp */
.whatsapp-floater {
    bottom: 54px;
    z-index: 99;
    position: fixed;
    display: block;
    right: 56px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #4fce5d;
    border-radius: 50px;
}

.whatsapp-floater i.fa.fa-whatsapp {
    line-height: 50px;
    font-size: 35px;
    color: #fff;
}

/* Contenedor imagenes */
.main-image {
    margin: 0 auto;
}

.image-left{
    display: flex;
    position: relative;
    padding-left: 0px !important;
    padding-right: 2px !important;
    margin-bottom: 65px !important;
    
}

.image-right a img.ios {
    left: 20px;
    bottom: 36px;
    position: absolute;
    max-width: 20%;
}

.image-right a img.android {
    left: 25%;
    bottom: 37px;
    position: absolute;
    max-width: 20%;
}
.image-right{
    display: flex;   
    padding-right: 0px !important;
    padding-left: 2px !important;
    position: relative;
    float:right;
    margin-bottom: 65px !important;
}

/* Contenedor con tres iconos */
.container.info {
    display: flex;
    position: relative;
    justify-content: space-around;
    justify-content: center;
    padding: 20px 0 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgb(220 219 219 / 50%);
    border: 1px solid #efeff4;
    background-color: #ffffff;
}

.container.info .flex{
    width: 33.3%;
    display: flex;
    justify-content: center;
}

.container.info .flex p {
    font-family: "Open Sans", sans-serif;
    color: #777777;
    font-size: 15px;
    font-weight: 100;
    margin: 0 0 0 0;
    
}

.container.info .flex span {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.42px;
    line-height: 30px; 
    color: #606060;
}

.container.info .flex.center {
    border-left: 3px solid #efeff4;
    border-right: 3px solid #efeff4;
}

/* Productos destacados */
.destacados{
    display: flex;
    width: 100%;
}

.all-products.container {
    padding: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.all-products.container .title {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 2.43px;
    text-transform: uppercase;
}


ul#tabs {
    font-family: "Open Sans", sans-serif;
    display: flex;
    text-align: center;
    line-height: 36px;
    padding-bottom: 20px;
    text-transform: uppercase;
    justify-content: center;
}

ul#tabs li.category_tab {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    margin-right: 30px;
    letter-spacing: 1.29px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 100;
}

ul#tabs li.category_tab.active {
    border-bottom: 2px solid #ff9500;
    color: #444444;
    font-weight: 600;
}

/* CARDS */

.containerProducts{
    width: 1170px;
    margin: auto;
    padding: 0 10px;
}

.containerProducts.active{
    display: block;
}

.containerProducts:not(.active){
    display: none;
}
.card{
    margin-right: 20px;
}

/* Imagen hombre */
.home-wide-container {
    margin-top: 100px;
}

/* Carrousel de imagenes */

.containerCarrousel{
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 1170px;
    margin: auto;
    margin-top: 80px;
    padding: 0 10px;
}

.containerCarrousel h2 {
    text-transform: uppercase;
    color: #464545;
    letter-spacing: -0.02em;
    font-size: 24px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
}

.containerCarrousel p {
    width: 50%;
    margin: 0 auto;
    font-weight: 500;
    color: #68686d;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

#owl-demo .owl-item {
    justify-content: center;
    display: flex;
    height: 90px!important;
    /*margin: 5px;*/
}

#owl-demo .item{
    height: 70px!important;
    background: white;
    box-shadow: 2px 4px 14px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
    justify-content: center;
}

#owl-demo .item img{
    display: block;
    max-width: 120px;
    max-height: 70px;
}


/* FOOTER */
.footer {
    float: left;
    clear: both;
    width: 100%;
    padding: 0 0 20px 0;
    margin-top: 92px;
    background-color: #153165;
    font-family: "Open Sans", sans-serif;
}

.footer .container {
    padding: 0;
}

.footer .container-links .footer-title {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    line-height: 40px;
    display: flex;
}

.footer .container-redes {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    max-width: 1170px;
}

.footer .container-redes a {
    padding-right: 10px;
}

.fa-facebook:before{
    content:"\f09a";
    color: #fff;
    font-size: 20px;
}

.fa-twitter:before{
    content:"\f099";
    color: #fff;
    font-size: 20px;
}

.fa-instagram:before{
    content:"\f16d";
    color: #fff;
    font-size: 20px;
}

.footer .container-links div.box-newsletter p {
    font-size: 14px;
    font-weight: 300;
    color: white;
    line-height: 28px;
    text-align: right;
    display: flex;
    margin: 0 0 10px !important;
}

.footer .container-links ul.list li a {
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    transition: border 0.1s ease-in-out;
    color: white;
}

.footer .container-links {
    display: flex;
    border-bottom: 1px solid #eee3;
    border-top: 1px solid #eee3;
    padding: 34px 0 !important;
    justify-content: space-between;
    font-size: 12px;
}

.footer .container-links div.box {
    width: 25%;
}

.footer .container-links div.box-newsletter {
    width: 30%;
    flex-wrap: wrap;
}

.bottom-footer {
    background-color: #153165;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    align-items: center;
    flex: auto;
    position: relative;
    padding-bottom: 0px;
    background-color: #153165;
    float: left;
    width: 100%;
}

.container-fluid{
    align-items: center;
    flex: auto;
    position: relative;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.bottom-footer address {
    color: white;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.footer .block-subscribe .input-text {
    width: 100%;
    border-right: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    position: relative;
}

.box .list li{
    list-style: none;
    display: flex;
}

.box .list{
    display: contents;
}

.footer .block-subscribe {
    float: right;
    width: 320px;
    margin-bottom: 0px;
}

.footer .block-subscribe .block-content {
    padding-top: 7px;
}

.footer .block-subscribe .inputs-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .block-subscribe .input-box {
    float: left;
    width: 65.625%;
    padding-top: 0;
}

.footer .block-subscribe .input-text {
    width: 100%;
    border-right: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    position: relative;
}

.footer .block-subscribe .actions {
    float: left;
    width: 34.375%;
    margin: 0;
}

.footer .block-subscribe .actions .button {
    border-radius: 0 3px 3px 0 !important;
    background-color: #c7c7cc !important;
    color: #fff !important;

}

input[type=email] {
    color: #565656;
    font-family: "Open Sans", sans-serif;
    max-width: 100%;
    width: 100%;
    height: 40px;
    border: 1px solid #a7a7a7;
    margin: 10px 0;
    border: none;
    box-shadow: 2px 2px 4px 0px rgb(161 161 161 / 50%);
    border-radius: 100px;
    background-color: #ffffff;
    padding: 0 8px;
    font-size: 14px;
}

.button {
    color: #fff;
    cursor: pointer;
    background-color: #153166;
    float: left;
    font-size: 14px;
    padding: 0 20px;
    line-height: 40px;
    font-family: "Open Sans", sans-serif;
    transition: opacity 300ms;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    border-radius: 30px;
    outline: none;
}